/* -- BODY -- */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* -- CABEÇALHO -- */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* -- SECTION SOBRE MIM -- */

.sobre {
  padding: 20px;
  background-color: #fff;
}

.sobre h2 {
  color: #333;
}

/* -- CONTAINER PORTIFOLIO -- */

.portfolio {
  padding: 20px;
  background-color: #eee;
}

.portfolio h2 {
  text-align: center;
  color: #333;
}

/* -- CONTAINER PROJETOS -- */

.contProj {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

/* -- PROJETOS BOX -- */

.boxProj {
  background-color: #e6e6e6;
  width: 200px;
  margin: 10px;
}

.boxProj h3 {
  text-align: center;
  color: #333;
}

.boxProj ul {
  margin: 10px;
  margin-bottom: 40px;
  list-style: circle;
}

.boxProj ul li {
  margin: 10px 0;
}

.boxProj ul li a {
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

.boxProj ul li a:hover {
  text-decoration: underline;
}

/* -- RODAPÉ -- */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}