body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div {
    width: 100px;
    height: 100px;
    text-align: center;
    color: black;
    margin: auto;
    padding: 10px;
}
button {
    width: auto;
    height: 30px;
    margin-top: 30px;
}

form {
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
}

form p input {
    width: 30px;
}

#resultado {
    border: 1px solid gray;
    height: 20px;
}

form button {
    margin-top: 0;
}